<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Exploring Colorado Wine Country in Paonia, Grand Junction and Aspen :: Colorado Wine Classes, Events</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="The mission of Savor Each Glass is to promote wine and food in Colorado - including Palisade,
    Paonia and the North Fork valley - through teaching wine classes, pairing the regions fine wines with
    local cuisine, and helping Colorado's burgeoning wine makers get the word out on some of the great wines
    they are producing." />
  <meta name="keywords"
    content="Colorado Wine, Paonia wine, North Fork Valley, Colorado Sommelier, Colorado Wine Classes, co wine Events, grand junction wine, aspen wine" />
  <link href="/stylesheets/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/blueprint/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="/stylesheets/global.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/twitter.js" type="text/javascript"></script>
  <script src="/js/prototype.js" type="text/javascript"> </script>
  <script src="/js/scriptaculous.js" type="text/javascript"> </script>
  <script type="text/javascript" src="/js/builder.js"></script>
  <script type="text/javascript" src="/js/effects.js"></script>
  <script type="text/javascript" src="/js/dragdrop.js"></script>
  <script type="text/javascript" src="/js/controls.js"></script>
  <script type="text/javascript" src="/js/slider.js"></script>
  <link href="/stylesheets/lightbox.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/javascripts/lightbox.js" type="text/javascript"></script>
</head>

<body>
  <div id="header" class="container">
    <div id="logo" class="span-9 append-1">
      <a href="/"><img alt="Savor Each Glass logo" height="163" src="/images/logo.gif" title="" width="199" /></a>
    </div>
    <div id="headline" class="span-14 last">
      <img
        alt="Exploring the spirit of wine in Colorado's North Fork Valley through wine classes, food events, and personal sommelier services."
        height="102" src="/images/headline.gif" title="" width="507" />
    </div>
  </div>

  <div id="wide-driver" class="container">
    <form action="http://eepurl.com/bCeR" method="post">
      <div class="span-5">
        <img alt="Join Our Newsletter" height="30" src="/images/join_our_newsletter.gif" title="" width="190" />
      </div>
      <div class="span-13">
        <p class="bottom">Join our exclusive mailing list featuring upcoming classes, area events and wine tips. We keep
          your information private. Enter your email address...</p>
      </div>
      <div class="span-3">
        <input type="text" name="MERGE0" id="MERGE0" class="text" />
      </div>
      <div class="span-3 last">
        <button type="submit" class="button">Sign up</button>
      </div>
    </form>
  </div>

  <div id="content-outer-container" class="container">
    <div id="sidebar" class="span-5 append-1">
      <ul id="global-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/events-calendar">Food & Wine Calendar</a></li>
        <li><a href="/shop/family/wine_classes">Register for Wine Classes</a></li>
        <li><a href="/blog">Colorado Wine Blog</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li>
          <a href="http://ww4.aitsafe.com/cf/review.cfm?userid=63253458&return=www.savoreachglass.com">Shopping Cart</a>
        </li>
      </ul>

      <p>
        <a href="http://www.facebook.com/pages/Savor-Each-Glass/105029082114" target="_new">Become a Fan</a>
        <br />
        <a href="http://www.facebook.com/pages/Savor-Each-Glass/105029082114" target="_new">
          <img src="/images/facebook.jpg" class="border">
        </a>
      </p>

      <h4><a href="http://www.twitter.com/SavorEachGlass" target="_new">Recent Posts from Twitter</a></h4>
      <a href="http://www.twitter.com/SavorEachGlass">
        <img alt="Savor Each Glass on Twitter" height="55" src="/images/twitter_logo.png" title="" width="150" />
      </a>
      <div id="tweet">
        <p>Please wait while my tweets load <img src="/images/indicator.gif" /></p>
        <p><a href="http://twitter.com/SavorEachGlass">If you can't wait - check out what I've been twittering</a></p>
      </div>

      <h4><a href="/articles">Additional Services</a></h4>
      <ul>
        <li><a href="/articles/colorado-food--wine-educational-dinners">Colorado Food & Wine Educational Dinners</a>
        </li>
        <li><a href="/wine-staff-training">Wine Staff Training</a></li>
        <li><a href="/store-and-restaurant-consulting">Store &amp; Restaurant Consulting</a></li>
        <li><a href="/wine-judge">Colorado Wine Judge</a></li>
      </ul>

      <h4><a href="/articles">Exploring Regional Wine</a></h4>
      <ul>
        <li><a href="http://www.internationalwineguild.com" target="_new">State Accredited Wine School: Sommelier
            Courses - Sommelier Training and Sommelier Certification</a></li>
        <li><a href="http://triosenoteca.com/" target="_new">Wine Tastings at Trios in downtown Denver</a></li>
        <li><a href="/food-and-wine-in-paonia-and-the-north-fork-valley">Food &amp; Wine in Paonia and the North Fork
            Valley</a></li>
        <li><a href="http://www.calaiswinery.com" target="_new">Calais Winery, Texas</a></li>
        <li><a href="http://vintagetexas.com/blog" target="_new">VintageTexas: Searching for Texas Terroir</a></li>
      </ul>

      <h4><a href="/articles">Keeping Track of California</a></h4>
      <ul>
        <li><a href="http://www.blognapavalley.com" target="_new">www.blognapavalley.com</a></li>
      </ul>

      <h4><a href="/articles">Colorado Wine Articles</a></h4>
      <ul>
        <li>
          <a href="/articles/edgar-allan-poe-wine-and-american-culture-in-the-1800s">Edgar Allan Poe: Wine and
            American Culture in the 1800's</a>
        </li>
        <li>
          <a
            href="/articles/revolution-brewery--the-smallest-commercial-brewery-in-colorado-takes-best-pale-ale-honors-at-crested-buttes-fall-festival">Revolution
            Brewery - the smallest commercial brewery in Colorado, takes "Best Pale Ale" honors at Crested Butte's Fall
            Festival.</a>
        </li>
        <li>
          <a href="/articles/culinary-school-of-the-rockies-wine-presentation-sept-2009">Culinary School of the
            Rockies Wine Presentation Sept 2009</a>
        </li>
        <li><a href="/articles/colorado-wine-the-next-big-thing">Colorado Wine: The Next Big Thing</a></li>
        <li><a href="/articles/summer-wine-events-in-colorado">Summer Wine Events in Colorado</a></li>
        <li><a href="/articles/my-favorite-wine-blogs-to-follow">My Favorite Wine Blogs to Follow</a></li>
        <li>
          <a href="/articles/colorado-food--wine-educational-dinners">Colorado Food & Wine Educational Dinners</a>
        </li>
        <li>
          <a href="/articles/things-to-do-in-grand-junction-colorado--wine--bike-tours--raft-tours--vineyard-tours">Things
            to do in Grand Junction, Colorado :: Wine & Bike Tours :: Raft Tours :: Vineyard Tours</a>
        </li>
        <li>
          <a href="/articles/colorado-not-just-for-beer-anymore--wine-in-grand-junction">Colorado: Not Just for Beer
            Anymore :: Wine in Grand Junction</a>
        </li>
        <li>
          <a href="/articles/when-in-aspen-wine-in-aspen--aspen-food--wine-classic">When in Aspen? Wine in Aspen ::
            Aspen Food & Wine Classic</a>
        </li>
        <li><a href="/articles">Browse All Articles</a></li>
      </ul>

      <h4><a href="/blog">Colorado Wine Blog</a></h4>
      <ul>
        {% for post in site.posts reversed %}
        <li>
          <a class="post-link" href="/blog/#{{ post.url | remove: '/' }}">
            {{ post.title }}
          </a>
        </li>
        {% endfor %}
        <li><a href="/blog">Browse All Blog Posts</a></li>
      </ul>
    </div>

    <div id="content-inner-container" class="span-18 last">
      <div class="global-driver span-6">
        <a href="/schedule"><img alt="Upcoming Classes And Events" height="77"
            src="/images/drivers/upcoming_classes_and_events.gif" title="" width="230" /></a>
        <p>Where Savor Each Glass will be teaching, browse local Food & Wine events... <a href="/schedule">more</a></p>
      </div>
      <div class="global-driver span-6">
        <a href="/articles/colorado-food--wine-educational-dinners">
          <img alt="Colorado Food &amp; Wine Educational Dinners" height="77"
            src="/images/drivers/food_and_wine_dinners.gif" title="" width="230" />
        </a>
        <p>Interested in immersing yourself in the best of Colorado Wine & Food?
          <a href="/articles/colorado-food--wine-educational-dinners">more</a>
        </p>
      </div>
      <div class="global-driver span-6 last">
        <a href="/tour-colorado-wine-country">
          <img alt="Tour Colorado Wine Country" height="77" src="/images/drivers/tour_colorado_wine_country.gif"
            title="" width="230" />
        </a>
        <p>Energetic and humble expertise for events, your cellar or personal curiosity...
          <a href="/tour-colorado-wine-country">more</a>
        </p>
      </div>

      <div id="content" class="span-18 last">
        {{content}}
      </div>

    </div>
  </div>

  <div id="pre-footer" class="container">
    <a title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
      href="http://www.internationalwineguild.com" style="float:none;height:120px;width:225px;">
      <img alt="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
        src="http://www.internationalwineguild.com/images/wine-school-badge2.gif" border="0" width="225" height="120" />
    </a>
    <p style="color:#111;display:block;font-family:arial;font-size:11px;margin:0;padding:0;position:static;">
      <a href="http://www.internationalwineguild.com/" style="color:#990033;"
        title="The International Wine Guild Wine School">The International Wine Guild Wine School
      </a>
    </p>

    <h4><a href="/schedule">Learning Categories</a></h4>

    <div class="span-4">
      <ul>
        <li><a href="/learn/category/33">Aspen Wine</a></li>
        <li><a href="/learn/category/19">Beer Tasting</a></li>
        <li><a href="/learn/category/36">Colorado Food </a></li>
        <li><a href="/learn/category/38">Colorado Wine Festivals</a></li>
        <li><a href="/learn/category/13">French Wine</a></li>
        <li><a href="/learn/category/34">Grand Junction Wine</a></li>
      </ul>
    </div>

    <div class="span-4">
      <ul>
        <li><a href="/learn/category/16">Hungarian Wine</a></li>
        <li><a href="/learn/category/14">Italian Wine</a></li>
        <li><a href="/learn/category/29">Judging Wine</a></li>
        <li><a href="/learn/category/17">Single Malt Scotch</a></li>
        <li><a href="/learn/category/15">Spanish Wine</a></li>
        <li><a href="/learn/category/11">Wine Accessories</a></li>
      </ul>
    </div>

    <div class="span-4">
      <ul>
        <li><a href="/learn/category/4">Wine and Food Pairing</a></li>
        <li><a href="/learn/category/30">Wine and Health</a></li>
        <li><a href="/learn/category/37">Wine Blogs</a></li>
        <li><a href="/learn/category/7">Wine Buying</a></li>
        <li><a href="/learn/category/3">Wine Clubs</a></li>
        <li><a href="/learn/category/5">Wine Collecting</a></li>
      </ul>
    </div>

    <div class="span-4">
      <ul>
        <li><a href="/learn/category/28">Wine Corks</a></li>
        <li><a href="/learn/category/2">Wine Glasses</a></li>
        <li><a href="/learn/category/9">Wine Growing</a></li>
        <li><a href="/learn/category/24">Wine Hangovers</a></li>
        <li><a href="/learn/category/12">Wine History</a></li>
      </ul>
    </div>

    <div class="span-4">
      <ul>
        <li><a href="/learn/category/32">Wine Laws</a></li>
        <li><a href="/learn/category/6">Wine Lifestyle</a></li>
        <li><a href="/learn/category/26">Wine Making</a></li>
        <li><a href="/learn/category/31">Wine Personalities</a></li>
        <li><a href="/learn/category/1">Wine Regions</a></li>
      </ul>
    </div>

    <div class="span-4 last">
      <ul>
        <li><a href="/learn/category/10">Wine Revolution</a></li>
        <li><a href="/learn/category/8">Wine Tasting</a></li>
        <li><a href="/learn/category/27">Wine Terms</a></li>
        <li><a href="/learn/category/35">Wine Tours in Paonia and Grand Junction</a></li>
        <li><a href="/learn/category/25">Wine Types</a></li>
      </ul>
    </div>
  </div>

  <div id="footer" class="container">
    <a href="http://www.twitter.com/SavorEachGlass"><img alt="Savor Each Glass on Twitter" height="55"
        src="/images/twitter_logo.png" title="" width="150" /></a>
    <p>Copyright &copy; 2019 Savor Each Glass &bull; 16344 Farmers Mine Road Paonia, Colorado 81428 <br /> <a
        href="/return-policy--event-cancellation-policy">Return Policy & Event Cancellation Policy</a></li>
    </p>
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-1025066-8");
    var _ucno = "utm_nooverride";
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>

  <script type="text/javascript" charset="utf-8">
    getTwitters('tweet', {
      id: 'SavorEachGlass',
      count: 2,
      enableLinks: true,
      ignoreReplies: true,
      clearContents: true,
      template: '"%text%" <a href="http://twitter.com/%user_screen_name%/statuses/%id%/">%time%</a>'
    });
  </script>

</body>

</html>